.advantages {
  padding: 60px 0;

  @media screen and (min-width:1200px){
    padding: 94px 0;
  }
}

.advantages__list {
  margin: 0 auto;
  margin-bottom: 0;
  padding-left: 0;

  @media screen and (min-width:768px){
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (min-width:1200px){
    display: flex;
    gap: 30px;
  }
}

.advantages__item {
  list-style: none;
  max-width: 450px;
  padding: 0;

  &:not(:first-child) {
    margin-top: 30px;

    @media screen and (min-width: 768px){
      margin: 0;
    }
  }


  @media screen and (min-width: 768px) {
     margin: 0;
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
   max-width: 270px;
 }

}

.advantages__thumb {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin: 0 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 10px;

}

.advantages__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}
