.footer {
  background-color: $secondary-cection-color;
  color: $title-inversion-color;
  padding: 60px 0;
}
.continer-header {
  text-align: center;


  @media screen and (min-width:768px){
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;


    justify-content: space-around;

    // АЛЬТЕРНАТИВА ЕСЛИ УБРАТЬ spsae-around
    
    // justify-content: center;
    // column-gap: 165px;

  }
  // АЛЬТЕРНАТИВА ЕСЛИ УБРАТЬ spsae-around

  // @media screen and (min-width:1200px){
  //   gap: 0;
  // }

}
.footer__thumb {
  text-align: center;

  @media screen and (min-width:1200px){

    display: flex;
    flex-direction: column;
    align-items: baseline;
    
  }
}

.footer__logo {
  color: $title-inversion-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;

  margin-bottom: 20px;
}
.footer__span {
  color: $link-color;
}
.footer-adress {
  font-style: normal;
}
.footer-adres__thumb {
  max-width: 232px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width:1200px) {
    display: flex;
    flex-direction: column;
  }
}

.futer-adress__text {
  color: $title-inversion-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin: 0 0 9px 0px;
}

.footer-adress__linc {
  display: inline-flex;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 9px;
  transition: $transition;

  &:hover,
  &:focus {
    color: $secondary-button-color;
  }
  & + & {
    margin-bottom: 0;
  }
}
.footer-sotial {

  margin: 60px 0 0 0;

  @media screen and (min-width:768px){
    margin: 0;
    
    
  }
 
  @media screen and (min-width:1200px){
  
 text-align: start;
    margin: 0 0 0 70px;
  }
}
.footer-sotial__title {
  margin: 0 0 20px 0;
  color: $title-inversion-color;
  font-family: $main-font;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer-sotial__list {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.footer-sotial__item {
  gap: 40px;
}
.footer-sotial__linc {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $title-inversion-color;
  background-color: rgba(255, 255, 255, 0.1);
  transition: $transition-background-color;

  &:hover,
  &:focus {
    fill: #f5f4fa;
    background-color: $link-color;
  }
}
.footer-sotial__icon {
  width: 20px;
  height: 20px;
}
.follow-footer {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width:1200px){
   margin: 0;
   margin-left: auto;

   text-align: start;
  }
}




.follow-footer__title {
  margin: 0 0 20px 0;
  color: $title-inversion-color;
  font-family: $main-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}


.follow-footer__form {
 


  @media screen and (min-width:1200px) {
    
     display: flex;

  }

}

.follow-futer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
}

.follow-futer__input {
  padding: 15px 16px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;

  @media screen and (min-width:1200px){

    width: 358px;
  }
}


.send-button-futer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-button-color;
  color: $secondary-button-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  cursor: pointer;
  margin: 20px 0 0 0;

  @media screen and (min-width:1200px){
    margin: 0 0 0 12px;
  }
 

  &::after {
    content: "";
    display: inline-flex;
    align-items: center;
    background-size: contain;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url("../images/icon-telegram.svg");
  }
  &:focus {
    box-shadow: $shadow-for-box;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
