.header {
  border-bottom: 1px solid #eee;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;

  // display: flex;
}

.header__thumb {
  @media screen and (min-width: 768px) {
    height: 80px;
    display: flex;
    align-items: center;
  }
}

.header__nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header-logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  text-decoration: none;

  height: 60px;
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    font-weight: 700; 
    letter-spacing: 0.72px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    font-weight: 700; 
    letter-spacing: 0.72px;
  }
}
.header-logo__span {
  color: $link-color;
}

.header-mobile {
display: none;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 796px;
  padding: 48px 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    width: inherit;
    padding: 0;

    height: 80px;
    position: inherit;
  }
}

.header-list {
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 85px;
  }
}
.header-list__item {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0.8px;

  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    margin-right: 50px;
    padding: 0;
    color: $title-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header-list__item:last-child {
  margin-right: 0;
}

.header-list__linc {
  color: $title-text-color;
  text-decoration: none;
  padding: 0 0 32px 0;
  display: inline-block;
  transition: $transition;
  position: relative;

  @media screen and (min-width: 768px) {
    padding: 32px 0;
  }

  &:hover,
  &:focus {
    color: $link-color;
  }
}
.header-list__linc::after {
  content: "";
  display: block;
  bottom: -1px;
  left: 0;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  opacity: 0;
  transition: $transition;
}

.header-list__linc--current {
  color: $link-color;

  @media screen and (min-width: 768px) {
    color: $link-color;

    &::after {
      content: "";
      display: block;
      bottom: -1px;
      left: 0;
      background-color: $link-color;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      position: absolute;
      opacity: 0;
      transition: $transition;
      opacity: 1;
    }
  }
}

.contact-header {
  margin-left: auto;
  margin-top: 306px;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
@media screen and (min-width:768px) and (max-width:1199px) {
  margin-left: 90px;
}

}



.contact-header__list {
  list-style: none;
  padding: 0;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }


  @media screen and (min-width: 768px) {
   
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  @media screen and (min-width:768px) and (max-width:1199px) {
    gap: 10px;
  }

}

.contact-header__item {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.48px;

  &:last-child {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px){
    &:last-child {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      margin-bottom: 0;
     
    }
  }
}

.contact-header__connect {
  text-decoration: none;

  color: $primary-text-color;
  display: flex;
  align-items: center;
  transition: $transition;

  &:hover,
  &:focus {
    color: $link-color;
  }

  @media screen and (min-width: 768px) {

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }

  @media screen and (min-width: 1200px){

    padding: 32px 0;
  }
}

.contact-header__connect--mobile {
  color: $link-color;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.68px;

  @media screen and (min-width: 768px) {
    color: $primary-text-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    
    
  }
  @media screen and (min-width: 1200px){
    margin-left: 30px;
  
  }

}

.contact-header__icon {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    transition: $transition;
    fill: $primary-text-color;
    .contact-header__connect:hover & {
      fill: $link-color;
    }
  }
}
