.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 118px 0;
  

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/1mob-hero.jpg);

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/1mob-hero@2x.jpg);
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;

  max-height: 600px;
  margin: 0 auto;
  background-position: center;



  @media screen and (min-width:768px){

    
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/1tab-hero.jpg);


    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
  
      background-image: 
      linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/1tab-hero@2x.jpg);
    }
  }


@media screen and (min-width:1200px){
  padding: 200px 0;


  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../images/hero/1desc-hero.jpg);

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx){

    background-image: 
    linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  ),
  url(../images/hero/1desc-hero@x2.jpg);
  }

}
 
}

.hero__title {
  margin:0 auto;
  color: $title-inversion-color;
  max-width: 360px;
  font-size: 26px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  
  
  @media screen and (min-width:1200px) {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 2.64px;
    text-transform: uppercase;
  }
  
}

.hero__button {
  background-color: $primary-button-color;
  color: $secondary-button-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  margin-top: 30px;
  cursor: pointer;


}







