.our-profile {
  margin: 0;
  padding-bottom: 94px;
  display: none;

  @media screen and (min-width:1200px) {
    display: block;
  }
}

.our-profile__title {
  text-align: center;
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}
.our-profile__list {
  display: flex;
  padding: 0;
  margin: 0;
}
.our-profile__item {
  display: flex;
  list-style: none;
  margin-right: 30px;
  position: relative;
  z-index: -1;

  &:nth-child(3n) {
    margin-right: 0;
  }
}
.our-profole__picture {
  border: border-box;
}

.our-profile__text {
  background-color: rgba(47, 48, 58, 0.8);
  color: $title-inversion-color;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;

  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;

  left: 50%;
  transform: translate(-50%);
  display: flex;

  width: 100%;
  height: 70px;

  justify-content: center;
  align-items: center;
}
