
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__listButton {
  display: flex;

  flex-wrap: wrap;


  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio__button {
  background-color: $button-background-color;
  color: $title-text-color;
  font-family: inherit;
  min-width: 64px;
  height: 38px;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  display: inline-block;
  text-align: center;

  transition: $transition, $transition-background-color, $transition-box-shadow;

  &:hover,
  &:focus {
    background-color: $primary-button-color;
    color: $secondary-button-color;
    box-shadow: $shadow-for-box;
  }
}

.portfolio-photo {
  display: flex;


  flex-wrap: wrap;


  
  justify-content: center;
  gap: 30px;
}
.portfolio-photo__item {
  display: block;
}
.portfolio-photo__linc {
  text-decoration: none;
  display: block;
  transition: $transition-box-shadow;

  &:hover,
  &:focus {
    box-shadow: $shadow-for-box;
  }
}

.portfolio-photo__box {
  position: relative;
  overflow: hidden;
}

.portfolio-photo__image {
  max-width: 100%;
  display: block;
}

.portfolio-photo__description {
  display: block;
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-photo__linc:hover .portfolio-photo__description {
  transform: translatey(0);
}
.portfolio-photo__thumb {
  padding: 24px 20px;
  border: 1px solid #eee;
  border-top: 0;
}
.portfolio-photo__subtytle {
  margin: 0 0 4px 0;
  color: $title-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}
.portfolio-photo__text {
  margin: 0;
  padding: 0;
  color: $primary-text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}
